.suggestion-item {
    display: flex;
    align-items: center;
    padding: 5px;
    cursor: pointer;
    border-bottom: 1px solid #ddd;
}

.suggestion-img {
    width: 40px !important;
    height: 40px !important;
    border-radius: 50%;
    object-fit: cover;
}

